In [2]:
import requests
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [3]:
api_token='9bb4facb6d23f48efbf424bb05c0c1ef1cf6f468393bc745d42179ac4aca5fee'

In [38]:
def process_request(url):
    """
    This function processes the api request and returns a pandas dataframe object
    """
    request = requests.get(url)
    data = json.loads(request.text)
    df = pd.DataFrame(json_normalize(data['result']))
    return df

In [51]:
def get_threat(name):
    """
    This function gets 
    """
    threat_url = 'http://apiv3.iucnredlist.org/api/v3/threats/species/name/{}?token={}'.format(name,api_token)
    threat_df = process_request(threat_url)
    return threat_df

In [40]:
def get_species_by_group(group_name):
    species_url = 'http://apiv3.iucnredlist.org/api/v3/comp-group/getspecies/{}?token={}'.format(group_name,api_token)
    group_df = process_request(species_url)
    return group_df

In [48]:
def get_species_by_country(country_name):
    country_url = 'http://apiv3.iucnredlist.org/api/v3/country/getspecies/{}?token={}'.format(country_name,api_token)
    country_df = process_request(country_url)
    return country_df

In [41]:
get_threat("Loxodonta africana").head()

,code,invasive,scope,score,severity,timing,title
0,1.1,None,None,Low Impact: 3,None,Ongoing,Housing & urban areas
1,11.2,None,None,Low Impact: 3,None,Ongoing,Droughts
2,1.2,None,None,Low Impact: 3,None,Ongoing,Commercial & industrial areas
3,2.1,None,None,Low Impact: 3,None,Ongoing,Annual & perennial non-timber crops
4,2.1.1,None,None,Low Impact: 3,None,Ongoing,Shifting agriculture

In [42]:
get_species_by_group("seabreams_porgies_picarels").head()

  category  rank            scientific_name subpopulation subspecies   taxonid
0       DD  None     Acanthopagrus akazakii          None       None    170230
1       LC  None     Acanthopagrus arabicus          None       None  47166659
2       LC  None    Acanthopagrus australis          None       None    170257
3       LC  None        Acanthopagrus berda          None       None    170266
4       LC  None  Acanthopagrus bifasciatus          None       None    170239

0                           Abies nordmanniana
1       Abies nordmanniana subsp. nordmanniana
2                        Ablepharus bivittatus
3                                Abramis brama
4                             Acanthis flammea
5                      Acanthobrama microlepis
6                             Accipiter badius
7                           Accipiter brevipes
8                           Accipiter gentilis
9                              Accipiter nisus
10                              Acer campestre
11                           Acer cappadocicum
12                               Acer hyrcanum
13                         Acer monspessulanum
14                            Acer platanoides
15                         Acer pseudoplatanus
16                              Acer velutinum
17                     Achnatherum roshevitzii
18                   Acipenser gueldenstaedtii
19                       Acipenser nudiventris
20                          Acipenser persicus
21                          Acipenser ruthenus
22                         Acipenser stellatus
23                   Acrocephalus arundinaceus
24                    Acrocephalus melanopogon
25                      Acrocephalus palustris
26                  Acrocephalus schoenobaenus
27                     Acrocephalus scirpaceus
28                          Actitis hypoleucos
29                         Aegilops biuncialis
                         ...
1048                            Vicia johannis
1049                         Vicia lathyroides
1050                               Vicia lutea
1051                           Vicia michauxii
1052                         Vicia narbonensis
1053                           Vicia pannonica
1054                           Vicia peregrina
1055                              Vicia sativa
1056            Vicia sativa subsp. amphicarpa
1057               Vicia sativa subsp. cordata
1058                 Vicia sativa subsp. nigra
1059                              Vicia sepium
1060                          Vicia tenuifolia
1061                               Vimba vimba
1062                            Vipera dinniki
1063                        Vipera eriwanensis
1064                    Vipera transcaucasiana
1065                        Vitex agnus-castus
1066                       Viviparus viviparus
1067                         Vormela peregusna
1068                             Vulpes vulpes
1069                            Xenus cinereus
1070                 Xerotyphlops vermicularis
1071                       Zamenis hohenackeri
1072                           Zamenis persica
1073                            Zapornia parva
1074                          Zapornia pusilla
1075                      Zelkova carpinifolia
1076                       Zerynthia caucasica
1077                            Zostera noltii
Name: scientific_name, Length: 1078, dtype: object

In [52]:
import pycountry

In [66]:
# Obtain a list of ISO2 country codes 
list_iso2 = [list(pycountry.countries)[i].alpha_2 for i in range (len(pycountry.countries))]

In [88]:
def make_master_df():
    # Get a list of country codes using pycountry package. 
    result_df = pd.DataFrame()
    for index,iso2 in enumerate(list_iso2):
        temp_df = get_species_by_country(iso2)
        result_df = result_df.append(temp_df)
        print("---processing {}th country".format(index))
    # We don't want duplicates 
    result_df.drop_duplicates(["scientific_name"], inplace= True)
    return result_df

In [89]:
make_master_df()

---processing 0th country
---processing 1th country
---processing 2th country
---processing 3th country
---processing 4th country
---processing 5th country
---processing 6th country
---processing 7th country
---processing 8th country
---processing 9th country
---processing 10th country
---processing 11th country
---processing 12th country
---processing 13th country
---processing 14th country
---processing 15th country
---processing 16th country
---processing 17th country
---processing 18th country
---processing 19th country
---processing 20th country
---processing 21th country
---processing 22th country
---processing 23th country
---processing 24th country
---processing 25th country
---processing 26th country
---processing 27th country
---processing 28th country
---processing 29th country
---processing 30th country
---processing 31th country
---processing 32th country
---processing 33th country
---processing 34th country
---processing 35th country
---processing 36th country
---processing 37th country
---processing 38th country
---processing 39th country
---processing 40th country
---processing 41th country
---processing 42th country
---processing 43th country
---processing 44th country
---processing 45th country
---processing 46th country
---processing 47th country
---processing 48th country
---processing 49th country
---processing 50th country
---processing 51th country
---processing 52th country
---processing 53th country
---processing 54th country
---processing 55th country
---processing 56th country
---processing 57th country
---processing 58th country
---processing 59th country
---processing 60th country
---processing 61th country
---processing 62th country
---processing 63th country
---processing 64th country
---processing 65th country
---processing 66th country
---processing 67th country
---processing 68th country
---processing 69th country
---processing 70th country
---processing 71th country
---processing 72th country
---processing 73th country
---processing 74th country
---processing 75th country
---processing 76th country
---processing 77th country
---processing 78th country
---processing 79th country
---processing 80th country
---processing 81th country
---processing 82th country
---processing 83th country
---processing 84th country
---processing 85th country
---processing 86th country
---processing 87th country
---processing 88th country
---processing 89th country
---processing 90th country
---processing 91th country
---processing 92th country
---processing 93th country
---processing 94th country
---processing 95th country
---processing 96th country
---processing 97th country
---processing 98th country
---processing 99th country
---processing 100th country
---processing 101th country
---processing 102th country
---processing 103th country
---processing 104th country
---processing 105th country
---processing 106th country
---processing 107th country
---processing 108th country
---processing 109th country
---processing 110th country
---processing 111th country
---processing 112th country
---processing 113th country
---processing 114th country
---processing 115th country
---processing 116th country
---processing 117th country
---processing 118th country
---processing 119th country
---processing 120th country
---processing 121th country
---processing 122th country
---processing 123th country
---processing 124th country
---processing 125th country
---processing 126th country
---processing 127th country
---processing 128th country
---processing 129th country
---processing 130th country
---processing 131th country
---processing 132th country
---processing 133th country
---processing 134th country
---processing 135th country
---processing 136th country
---processing 137th country
---processing 138th country
---processing 139th country
---processing 140th country
---processing 141th country
---processing 142th country
---processing 143th country
---processing 144th country
---processing 145th country
---processing 146th country
---processing 147th country
---processing 148th country
---processing 149th country
---processing 150th country
---processing 151th country
---processing 152th country
---processing 153th country
---processing 154th country
---processing 155th country
---processing 156th country
---processing 157th country
---processing 158th country
---processing 159th country
---processing 160th country
---processing 161th country
---processing 162th country
---processing 163th country
---processing 164th country
---processing 165th country
---processing 166th country
---processing 167th country
---processing 168th country
---processing 169th country
---processing 170th country
---processing 171th country
---processing 172th country
---processing 173th country
---processing 174th country
---processing 175th country
---processing 176th country
---processing 177th country
---processing 178th country
---processing 179th country
---processing 180th country
---processing 181th country
---processing 182th country
---processing 183th country
---processing 184th country
---processing 185th country
---processing 186th country
---processing 187th country
---processing 188th country
---processing 189th country
---processing 190th country
---processing 191th country
---processing 192th country
---processing 193th country
---processing 194th country
---processing 195th country
---processing 196th country
---processing 197th country
---processing 198th country
---processing 199th country
---processing 200th country
---processing 201th country
---processing 202th country
---processing 203th country
---processing 204th country
---processing 205th country
---processing 206th country
---processing 207th country
---processing 208th country
---processing 209th country
---processing 210th country
---processing 211th country
---processing 212th country
---processing 213th country
---processing 214th country
---processing 215th country
---processing 216th country
---processing 217th country
---processing 218th country
---processing 219th country
---processing 220th country
---processing 221th country
---processing 222th country
---processing 223th country
---processing 224th country
---processing 225th country
---processing 226th country
---processing 227th country
---processing 228th country
---processing 229th country
---processing 230th country
---processing 231th country
---processing 232th country
---processing 233th country
---processing 234th country
---processing 235th country
---processing 236th country
---processing 237th country
---processing 238th country
---processing 239th country
---processing 240th country
---processing 241th country
---processing 242th country
---processing 243th country
---processing 244th country
---processing 245th country
---processing 246th country
---processing 247th country
---processing 248th country

,category,rank,scientific_name,subpopulation,subspecies,taxonid
0,LC,None,Ablennes hians,None,None,13486514
1,LC,None,Abudefduf saxatilis,None,None,188581
2,LC,None,Abudefduf taurus,None,None,188434
3,LC,None,Abyssobrotula galatheae,None,None,60469175
4,LC,None,Acanthemblemaria medusa,None,None,47141697
5,LC,None,Acanthocybium solandri,None,None,170331
6,LC,None,Acanthostracion polygonius,None,None,193646
7,LC,None,Acanthurus chirurgus,None,None,177982
8,LC,None,Acanthurus coeruleus,None,None,177953
9,LC,None,Acanthurus tractus,None,None,47139706
10,LC,None,Acentronura dendritica,None,None,46107486
11,LC,None,Achirus declivis,None,None,16404805
12,LC,None,Achirus lineatus,None,None,193273
13,LC,None,Acromycter atlanticus,None,None,190271
14,LC,None,Actinopyga agassizi,None,None,180353
15,LC,None,Actitis macularius,None,None,22693277
16,LC,None,Acyrtops beryllinus,None,None,185922
17,LC,None,Acyrtus artius,None,None,185877
18,LC,None,Acyrtus rubiginosus,None,None,185876
19,LC,None,Ahlia egmontis,None,None,199311
20,LC,None,Ahliesaurus berryi,None,None,13485141
21,LC,None,Aldrovandia gracilis,None,None,190486
22,LC,None,Alectis ciliaris,None,None,155014
23,LC,None,Alepisaurus ferox,None,None,154820
24,LC,None,Alepocephalus productus,None,None,18139074
25,LC,None,Alphestes afer,None,None,132764
26,VU,None,Amazona barbadensis,None,None,22686325
27,LC,None,Amblycirrhitus pinos,None,None,190418
28,LC,None,Ameiva bifrontata,None,None,44579553
29,LC,None,Ammannia baccifera,None,None,164484
...,...,...,...,...,...,...
538,LC,None,Clutia punctata,None,None,66153035
543,VU,None,Coffea ligustroides,None,None,18290331
707,LC,None,Cyphia alba,None,None,66105703
800,CR,None,Elattoneura lapidaria,None,None,84379796
818,EN,None,Encephalartos concinnus,None,None,41903
904,EN,None,Euphorbia rugosiflora,None,None,66106161
1102,LC,None,Hyperolius rhodesianus,None,None,56197
1120,EN,None,Indigofera chimanimaniensis,None,None,66106817
1214,LC,None,Lepidochrysops barnesi,None,None,159780
1401,EN,subsp.,Necepsia castaneifolia subsp. chirindica,None,chirindica,35364
1471,LC,None,Oligophyton drummondii,None,None,66151220
1483,DD,None,Onthophagus depilatus,None,None,137604
1486,DD,None,Onthophagus kirki,None,None,138059
1487,DD,None,Onthophagus kyleensis,None,None,138396
1608,DD,None,Pettancylus victoriensis,None,None,63433
1609,DD,None,Pettancylus zambesiensis,None,None,63434
1664,EN,None,Platycypha inyangae,None,None,56142623
1743,EN,None,Probreviceps rhodesianus,None,None,57981
1780,EN,None,Pseudagrion vumbaense,None,None,59769
1834,EN,None,Raphionacme chimanimaniana,None,None,66096334
1842,DD,None,Rhachitopis brachypterus,None,None,116116091
1901,LC,None,Satyrium flavum,None,None,66151276
1912,DD,None,Scarabaeus rixosus,None,None,137652
1980,LC,None,Serranochromis longimanus,None,None,63350
2048,VU,None,Syncolostemon ornatus,None,None,66106594
2111,DD,None,Thesium bundiense,None,None,66154065
2185,VU,subsp.,Turraea fischeri subsp. eylesii,None,eylesii,32135
2222,VU,None,Vandijkophrynus inyangae,None,None,54671
2248,VU,None,Vitellariopsis ferruginea,None,None,32138
2262,LC,None,Xinidium davisi,None,None,138405

In [99]:
# Adding a new column to the dataframe on species class
# Using http://etetoolkit.org/ taxonomy-ranks 0.0.7 lib here to obtain this information
# http://etetoolkit.org/docs/2.3/tutorial/tutorial_ncbitaxonomy.html
from ete3 import NCBITaxa

In [ ]:
ncbi = NCBITaxa()
compiled_species_df = pd.read_csv("datasets/compiled_species.csv")

In [ ]:
compiled_species_df['kingdom'] = compiled_species_df.apply(lambda row: row.a + row.b, axis=1)

In [97]:
dir(tax.name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# The dataframe should be  species|threat a
#                          species|threat b
# Otherwise there will be way too many columns
# Only consider high impact threats?? Otherwise there will be a million entries. 
# To speed up the process might use parallel programming in python 
# Ref: https://www.machinelearningplus.com/python/parallel-processing-python/

def check_google_scholar():