In [2]:
import requests
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [3]:
api_token='9bb4facb6d23f48efbf424bb05c0c1ef1cf6f468393bc745d42179ac4aca5fee'

In [11]:
def get_threat(name):
    threat_url = 'http://apiv3.iucnredlist.org/api/v3/threats/species/name/{}?token={}'.format(name,api_token)
    request = requests.get(threat_url)
    data = json.loads(request.text)
    threat_df = pd.DataFrame(json_normalize(data['result']))
    return threat_df

In [33]:
def get_species(group_name):
    species_url = 'http://apiv3.iucnredlist.org/api/v3/comp-group/getspecies/{}?token={}'.format(group_name,api_token)
    request = requests.get(species_url)
    data = json.loads(request.text)
    species_df = pd.DataFrame(json_normalize(data['result']))
    return species_df

In [34]:
get_threat("Loxodonta africana").head()

,code,invasive,scope,score,severity,timing,title
0,1.1,None,None,Low Impact: 3,None,Ongoing,Housing & urban areas
1,11.2,None,None,Low Impact: 3,None,Ongoing,Droughts
2,1.2,None,None,Low Impact: 3,None,Ongoing,Commercial & industrial areas
3,2.1,None,None,Low Impact: 3,None,Ongoing,Annual & perennial non-timber crops
4,2.1.1,None,None,Low Impact: 3,None,Ongoing,Shifting agriculture

In [36]:
get_species("seabreams_porgies_picarels").head()

  category  rank            scientific_name subpopulation subspecies   taxonid
0       DD  None     Acanthopagrus akazakii          None       None    170230
1       LC  None     Acanthopagrus arabicus          None       None  47166659
2       LC  None    Acanthopagrus australis          None       None    170257
3       LC  None        Acanthopagrus berda          None       None    170266
4       LC  None  Acanthopagrus bifasciatus          None       None    170239